body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    position: relative;
    left: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.order-li{
display: flex;
justify-content: center;
align-content: center;
align-items: center;
}

.crd-rqst-ttl {
    font-size: 45px;
    font-weight: bold;
    position: relative;
    float:left;
    top: 40px;
}

input[type="radio"] {
    display: inline-block;
    position: absolute;
    left: 30px;
}

.option-label-position {
    margin-left: 50px;
}
.id-field-label {
    position: relative;
    left: 15px;
}
.admin-del-bttn {
    width: 70px;
    height: 35px;
    text-align: center;
    align-content: center;
    margin-top: 20px;
}
.admin-spacing {
    margin-top: 30px;
}

.error-msg-box{
    color: rgba(255,0,0,0.5);
    font-size: 32px;
    font-weight: bold;
    position:relative;
    left: 10px;
}
.emp-title {
    position: relative;
    left: 10px;
    font-size: 34px;
    font-weight: bold;
}

.ui-datepicker-calendar {
    display: none;
}

.mimic-frm {
    display: block;
    /*display: flex;*/
    position: relative;
}
.del-record-format {
    display: block;
    position: relative;
    left: 15px;
}

.admin-container{
    position: relative;
    left: -10px;
}
.usr-prfle-err {
    position: relative;
    top: 30px;
    left: 15px;
}
.resubmission-section {
    margin: 10px;
    width: 550px;
    height: 300px;
    background-color: rgba(196, 196, 196, 0.2);
}
.radio-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.admin-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}
.term-lbl{
    position: relative;
    left: 15px;
}
.bttn-pos {
    position: relative;
    top: 10px;
    background-color: grey;
    color: white;
    left: 15px;
}
.flex-align{
    position:relative;
    top: 20px;
}

.Employee-section {
    margin: 10px;
    width: 560px;
    height: 300px;
    background-color: rgba(196, 196, 196, 0.2);
}

.usr-settings {
    margin: 10px;
    width: 560px;
    height: 350px;
    background-color: rgba(196, 196, 196, 0.2);
}
.year-cmt-input {
    position: relative;
    float: left;
}
.cmt-input-styl {
    position:relative;
    left: 15px;
}
.Student-section {
    display: flex;
    width: 560px;
    margin: 10px;
    height: 300px;
    background-color: rgba(196, 196, 196, 0.2);
}

.Student-admin-section {
    margin: 10px;
    width: 560px;
    height: 300px;
    background-color: rgba(196, 196, 196, 0.2);
}

.background-table {
    margin-top: 120px;
    margin-right: 50px;
    padding:15px;
    width: 105%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.2);
}

.align-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    position: relative;
    right: 25px;
}

.display-align {
    margin: 0;
}

.align-term-content {
    /*display: flex;
    justify-content: flex-start;
    align-items: center;*/
    /* justify-content: space-around;*/
    /*align-content: flex-start;*/
    /*    position: relative;
    right: 25px;*/


    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*justify-content: space-around;*/
    align-content: center;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    /*right: 25px;*/
}

/*.jumbotron {
    height: 2000px;
}*/


div.pagination-container {
    display: block;
    align-content: center;
    align-items: center;
    text-align: center;
}


.ex1 {
    border: 2px solid #ccc;
    padding: 10px;
    height: 150px;
    overflow-y: scroll
}

div.ex2 {
    height: 675px;
    overflow-y: scroll;
}


#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 25px auto;
    padding: 20px;
}

    #drop-area.highlight {
        border-color: purple;
    }

/*p {
    margin-top: 0;
}*/

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

    #gallery img {
        width: 50px;
        margin-bottom: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

    .button:hover {
        background: #ddd;
    }

#fileElem {
    display: none;
}





#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}


    /*broder-top: 1px solid grey;*/

/* Chrome, Safari, Edge, Opera */
